.container{
  max-width: 100%;
  width: 100%;
  display: inline-block;
}
.side-tab{
  background-color: #ee6e73;
  margin-bottom: 3px;
  margin-top: 3px;

}
main{
  display: inline-block;
  width: 100%;
  margin: 0;
}
.row{
  margin: 0;
}
page{
  display: table;
  padding: 40px;
}
.side-tabs{
    background-color: #ee6e73;
}
tabs {
  background-color: #ee6e73;
}
.row .col.s2 {
    margin-left: auto;
    left: auto;
    right: auto;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #ee6e73;
}
li.tab.side-tab {
  margin-top: 5px;
  margin-bottom: 5px;
}
