.container {
  max-width: 100%;
  width: 100%;
  display: inline-block;
}
.side-tab{
  background-color: #75ccdd;
  margin-bottom: 3px;
  margin-top: 3px;

}
main{
  display: inline-block;
  width: 100%;
  margin: 0;
}
.row{
  margin: 0;
}
page{
  display: table;
  padding: 40px;
}
.side-tabs{
    background-color: #75ccdd;
}
tabs {
  background-color: #75ccdd;
}
.row .col.s2 {
    margin-left: auto;
    left: auto;
    right: auto;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #75ccdd;
}
li.tab.side-tab {
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
}

nav {
  background-color: #75ccdd;
}

nav ul a {
  display: flex;
  margin: 0 45px;
  align-items: stretch;
  font-size: 17px !important;
  font-family: 'Cinzel' !important;
  color: white !important;
}

nav ul a:hover {
  color: grey !important;
}
